.main-container {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  p {
    line-height: 1.7;
  }
  
  .custom-navbar-primary{
    background-color: #33b5e5;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
  }
  .custom-navbar-primary > .container {
    margin-top:0px;
  }
  
  .custom-navbar-brand {
    display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      color: white;
  }
  
  .custom-navbar-brand:hover {
    color: #eee;
    text-decoration: none;
  }
  
  .custom-navbar-primary ul li a {
    color: #f8f9fa;
    font-size: 1.25rem;
  }
  .nav-item:hover .nav-link {
    color: #f8f9fa;
  }
  
  .is-active {
    border-bottom: 2px solid white;
    padding-bottom: 6px;
  }

  .navbar-login {
    color: #f8f9fa;
    margin: 0;
    display: block;
  }

  .navbar-user-info {
    background-color: #33b5e5;
    position: absolute;
    right: 0;
    padding: 0.35em;
    border-radius: 0 0 0 0.75em;
    color: #f8f9fa;
  }
  .modal-footer-register {
    position: absolute;
    left: 0;
    padding-left: 1em;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 0.5em;
  }