.submit-button {
    background-color: #33b5e5;
    color: white;
  }
.submitMessage {
  margin-bottom: 5em;
}
.error {
  color: red;
}
.comment-section > .comment-form-wrapper {
  margin-bottom: 2em;
}
.form-opacity-wrapper {
  opacity: 0.15;
    pointer-events: none;
}
.middle-opacity-text {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5em;
}
.comment-form-link {
  text-decoration: underline;
  cursor: pointer;
  
}