.articles-title {
    font-size: 2.5rem;
    color: black;
}
.card-body a:hover {
    text-decoration: none;
}
.row {
    margin-bottom: 30px;
}
.container {
    margin-top: 30px;
}
.container > .row {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}